.navbar .navbar-brand {
    margin-left: 7.5%;
}

body {
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    font-size: 1.185rem;
    line-height: 1.6;
    color: #3a3a3a;
}

.breadcrumb {
    background-color: #f8f9fa !important;
    margin-bottom: 0 !important;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.container-fluid {
    max-width: 85%;
}

.main-recipe-list-block {
    width: 66.6%;
}

.card {
    color: #3a3a3a;
}


.card-text {
    text-align: justify;
    line-height: 1.2;
}

.card-img-top {
    object-fit: cover;
}

/* Right menu */
.right-menu {
    width: 33.3%;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 1rem;
    padding: 1rem;
    background-color: #f7f7f7;
}

/* Recipe */
.recipe-info {
    width: 66.6%;
    margin-right: 1rem;
}

.recipe-main-info {
    display: flex;
    justify-content: space-between;
}

.recipe-main-image {
    width: 80%;
    background-size: cover;
    background-position: center;
}

.recipe-meta {
    width: 20%;
}

.recipe-meta-wrap {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
}

.recipe-meta-heading {
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: #676767;
    font-weight: 400;
    margin-bottom: 4px;
}

.recipe-description-text {
    text-align: justify;
}

.recipe-ingredients__list {
    list-style: none;
    line-height: 1.6rem;
    padding-left: 0;
}

.recipe-method__list {
    text-align: justify;
    padding-left: 1rem;
}

.recipe-category-item {
    display: inline-block;
    background-color: #ebebeb;
    padding: 0.25rem 0.875rem 0.35rem;
    cursor: pointer;
}

.recipe-category-link {
    text-decoration: none;
    color: #3a3a3a;
}

.recipe-category-item:hover {
    background-color: #adedff;
    color: #3a3a3a;
}

.recipe-category-link:hover {
    text-decoration: none;
    color: #3a3a3a;
}


.footer {
    position: static;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #7cdcef;
    color: white;
    text-align: center;
}

.zoom {
    transition: .3s ease;
    opacity: 1;
}

.zoom:hover {
    transform: scale(1.03);
    opacity: 0.9;
}