*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    min-width: 320px;
}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder {
    line-height: 2rem !important;
    vertical-align: middle !important;
}

.site-header {
    position: relative;
    width: 100%;
    height: 3.2rem;

    /*background-image: url("header.jpg");*/
    background-color: black;
    background-size: cover;
    background-position: top;
}
.site-header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    top: 55%;
    /*left: 50%;*/

    font-size: 45px;
    font-family: 'Marck Script', cursive;
    color: #fff !important;

    transform: translate(0, -50%);
}

.navbar {
    background-color: white !important;
    font: 14px/2 PT Serif,Georgia,serif !important;
    height: 3rem; !important;

    min-width: 320px !important;
}
.navbar-nav {
    flex-direction: inherit !important;
}
@media (min-width: 700px) {
    .navbar-nav {
        margin-left: 1rem;
    }
    .nav-item-need-margin-right {
        margin-right: 1rem;
    }
    .nav-total-search-form {
        margin-top: 0.3rem !important;
    }
    .nav-total-search-form-input {
        width: 12rem !important;
        margin-right: 0.5rem !important;
        border-radius: 0 !important;

        border: 1px solid #d9d9d9 !important;
    }
    .nav-total-search-form-btn {
        border: 1px solid #d9d9d9 !important;
    }
}
@media (max-width: 700px) {
    .navbar {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .nav-item-need-margin-right {
        margin-right: 0.5rem;
    }
    .nav-total-search-form {
        /*margin-top: 0 !important;*/
        position: relative;
        top: -2px !important;
    }
    .nav-total-search-form-input {
        position: relative;
        left: 5px;

        width: 6.5rem !important;
        margin-right: 0 !important;
        border-top-left-radius: 1.5rem !important;
        border-bottom-left-radius: 1.5rem !important;

        border-top: 1px solid #d9d9d9 !important;
        border-right: none !important;
        border-bottom: 1px solid #d9d9d9 !important;
        border-left: 1px solid #d9d9d9 !important;
    }
    .nav-total-search-form-btn {
        border-top-right-radius: 1.5rem !important;
        border-bottom-right-radius: 1.5rem !important;
        background-color: white !important;

        border-top: 1px solid #d9d9d9 !important;
        border-right: 1px solid #d9d9d9 !important;
        border-bottom: 1px solid #d9d9d9 !important;
        border-left: none !important;
    }
}

.nav-total-search-form-input,
.nav-total-search-form-btn {
    height: 2rem !important;
    font: 14px PT Sans,Helvetica,sans-serif !important;

    line-height: 2rem !important;

    padding: 0 0.75rem 0 0.75rem !important;
    margin: 0 0 0 0 !important;
}
@media (min-width: 700px) {
    .nav-total-search-form-mobile {
        display: none !important;
    }
    .nav-total-search-form-screen {
        margin-left: 1.5rem !important;
    }
    .search-bar-btn {
        border-radius: 0 !important;
    }
}
@media (max-width: 700px) {
    .nav-total-search-form-screen {
        display: none !important;
    }
}



.input {
    border: 1px solid #d9d9d9 !important;
    border-radius: 0 !important;

    height: 2rem !important;
    font: 14px/40px PT Sans,Helvetica,sans-serif !important;
    padding: 2px 0.75rem 0 0.75rem !important;

    line-height: 1 !important;
}
.primary-btn,
.remove-btn,
.button {
    border: 1px solid #d9d9d9 !important;
    border-radius: 0 !important;

    height: 2rem !important;
    font: 14px/14px PT Sans,Helvetica,sans-serif !important;
    /*padding: 2px 0.75rem 0 0.75rem !important;*/

    line-height: 1.3 !important;
}
.remove-btn {
    border: 1px solid red !important;
}
.primary-btn {
    border: 1px solid #007bff !important;
}
.textarea {
    border: 1px solid #d9d9d9 !important;
    border-radius: 0 !important;
}
.select {
    border: 1px solid #d9d9d9 !important;
    border-radius: 0 !important;

    height: 2rem !important;
    font: 14px/14px PT Sans,Helvetica,sans-serif !important;
    padding: 0.1rem 0.75rem 0 0.75rem !important;
}

@media (min-width: 700px) {
    .search-bar-select {
        margin-right: 1.5rem !important;
        border-radius: 0 !important;
    }
    .search-bar-btn-narrow {
        display: none !important;
    }
    .nav-search-btn {
        border-radius: 0 !important;
    }
}
@media (max-width: 700px) {
    .search-bar-btn-wide {
        display: none !important;
    }
    #searchBarSectionSelect {
        border-top-left-radius: 1.5rem !important;
        border-bottom-left-radius: 1.5rem !important;
    }
    #searchBarDishSelect {
        border-top-right-radius: 1.5rem !important;
        border-bottom-right-radius: 1.5rem !important;
    }

    .search-bar-btn-narrow {
        border-top-right-radius: 1.5rem !important;
        border-bottom-right-radius: 1.5rem !important;
    }
}

.search-bar-btn {
    height: 2rem !important;
}

.search-bar {
    position: absolute;
    display: flex;

    margin-left: auto;
    margin-right: auto;

    background-color: white;
    height: 3rem;
    padding-top: 0.45rem;

    z-index: 1;
    width: 100%;
}
.search-bar-select,
.search-bar-btn {
    border: 1px solid #d9d9d9 !important;

    height: 2rem !important;
    font: 14px/32px PT Sans,Helvetica,sans-serif !important;
}
.search-bar-select {
    padding: 0 2rem 0 0.75rem !important;
}
.search-bar-btn {
    padding: 0 0.75rem !important;
}
.search-bar-select:disabled {
    background-color: #f8f9fa !important;
}
.search-bar-form-wrap {
    min-width: 320px;
    width: 800px;

    padding-left: 13px;
    padding-right: 16px;

    margin-right: auto;
    margin-left: auto;
}
#collapseSearchBar {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.search-bar-input {
    margin-right: 1rem;
    height: 2rem;
    /*padding: 10px;*/
    box-sizing: border-box;
}

body {
    font-family: PT Serif,Georgia,serif !important;
            /*ReithSans,Arial,Helvetica,freesans,sans-serif;*/
    font-size: 1.185rem;
    line-height: 1.6;
    color: #3a3a3a;
    background-color: #f2f2f2 !important;
}

.breadcrumb {
    background-color: #f8f9fa !important;
    margin-bottom: 0 !important;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 700px) {
    .main-container {

        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.main-container {
    margin-top: 3rem;

    background-color: #fff;
    border-radius: 5px;
}
@media screen and (min-width: 700px) {
    .main-container {
        margin-left: auto;
        margin-right: auto;

        width: 1000px;
        padding: 2rem 1rem 1rem 1rem !important;
    }
}
@media screen and (max-width: 700px) {
    .main-container {
        width: 100%;
        padding: 0.5rem 0.5rem 0 0.5rem !important;
    }
}

.main-list-block {
    width: 100%;
    /*display: flex;*/
}
.main-section-list {
    display: flex;
    width: 100%;
}

/* Greeting */
.greeting-block {
    position: relative;
}
@media screen and (min-width: 43rem) {
    .greeting-block__description {
        width: 41rem;
        margin-top: 15px;
        margin-bottom: 58px;
    }
    .greeting-block__title {
        padding: 4rem 0 0 0;
    }
    .greeting-header {
        margin-bottom: 3rem;
    }
    .greeting-block:after {
        margin: 0 auto 3rem;
    }
}
@media screen and (max-width: 43rem) {
    .greeting-block__description {
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 40px;
    }
    .greeting-block__title {
        padding: 1.7rem 0 0;
    }
    .greeting-header {
        margin-bottom: 1.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .greeting-block:after {
        margin: 0 auto 1.5rem;
    }
}
.greeting-block__description {
    margin-left: auto;
    margin-right: auto;
    font: 15px/36px PT Serif,Georgia,serif;
    text-align: center;
}
.greeting-block:after {
    content: "-----------";
    display: block;
    width: 80px;
    height: 5px;

    overflow: hidden;
    border-bottom: 3px double #000;
    border-top: 1px solid #000;
    font: 0/0 a;
}
.greeting-header {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
}

/* Section */
.section-top-parent {
    height: 10rem;
    overflow: hidden;
    position: relative;

    border-radius: 20px;
}
.section-top-parent > h5 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    font-size: 70px;
    font-family: 'Marck Script', cursive;
    color: #fff !important;

    transform: translate(-50%, -50%);
}
.section-top-child {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: top;

    transition: .3s ease;
}

.section-header-parent {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    position: relative;

    /*border-radius: 20px;*/
}
.section-header { //TODO check
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-size: cover;
    /*background-position: top;*/

    transition: .3s ease;
}

.section-header-parent h5 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    text-align: center;
    line-height: 0.8;
    font-size: 55px;
    font-family: 'Marck Script', cursive;
    color: #fff !important;

    transform: translate(-50%, -50%);
}

.section-header-parent:hover > .section-header {
    transform: scale(1.03);
}

.section-overlay:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';

    background-color: #000;

    opacity: 0.3;
}

/* Recipe list */
.total-elements-lable {
    font: 700 13px/14px PT Serif,Georgia,serif;
}
@media (min-width: 36rem) {
    .no-recipes-block {
        height: 18em;
    }
}
@media (max-width: 36rem) {
    .no-recipes-block {
        height: 12em;
    }
}

.no-recipes-block-no_food_svg {
    background: url("icons/no-food.svg") no-repeat;
}
.no-recipes-block-saucepan_svg {
    background: url("icons/no-food.svg") no-repeat center;
    opacity: 0.7;
}
.no-recipes-block {
    width: 100%;
    background-size: contain;
    background-origin: content-box !important;
}
@media (min-width: 700px) {
    .no-recipes-block {
        margin-top: 1rem;
    }
    .show-more,
    .spinner-show-more {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 700px) {
    .total-elements-lable {
        margin-left: 0.5rem;
    }
    .show-more,
    .spinner-show-more {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/* Card */
.recipe-card {
    height: 18rem;
    border-radius: 2px;
    border: 1px;
}
.col {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
#recipe-card-block {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.recipe-card-image {
    display: flex;
    background-size: cover;
    background-position: center;

    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    height: 18rem;
    overflow: hidden;
}
.recipe-card-image:before {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: '';

    background-color: #000;

    opacity: 0.15;
}
/*.recipe-card-image img {*/
/*    object-fit: cover;*/
/*    !*object-position: center;*!*/
/*}*/
.card-title {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    /*height: 100%;*/
    width: 100%;
    padding: 2rem;
    color: #fff;
    text-align: center;

    font: 25px/27px Roboto,sans-serif;
    font-weight: 900;
    /*font-size: 25px;*/

    /*font-size: 70px;*/
    /*font-family: 'Marck Script', cursive;*/
    /*color: #fff !important;*/

    transform: translate(-50%, -50%);
}
.recipe-card-header h4 {
    padding: 0.5rem 1rem;
    color: #3a3a3a;
    height: 8rem;
    margin-bottom: 0;

    font: 25px/27px Roboto,sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.recipe-card-meta {
    display: flex;
    justify-content: center;
    margin: auto auto 1rem auto;
    z-index: 4;

    color: #fff;
    /*text-align: left;*/
    text-decoration: none;
    text-align: end;

    /*background-color: #f5f5f5;*/
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Recipe meta */
.svg {
    /*margin-top: 0.75rem;*/
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    opacity: 0.5;

    background-size: cover;
    background-position: center;
}
.svg-white {
    /*margin-top: 0.75rem;*/
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    background-size: cover;
    background-position: center;
}
.clock-svg {
    background-image: url("icons/clock.svg");
}
.clock-white-svg {
    background-image: url("icons/clock-white.svg");
}
.serving-svg {
    background-image: url("icons/serving.svg");
}
.serving-white-svg {
    background-image: url("icons/serving-white.svg");
}
.like-svg {
    background-image: url("icons/like.svg");
}
.dislike-svg {
    background-image: url("icons/dislike.svg");
}
.recipe-meta_prep-time,
.recipe-meta_serving,
.recipe-meta_like,
.recipe-meta_dislike {
    padding-top: 0.1rem;
    padding-left: 0.5rem;
    display: inline-block;

    overflow: hidden;
    vertical-align: center;
}
.recipe-meta_complexity {
    padding-top: 0.1rem;
    display: inline-block;

    overflow: hidden;
    vertical-align: center;
}

/* Recipe */
.recipe-container {
    /*width: 66.6%;*/
    position: relative;
    width: 100%;
}
.recipe-content {
    display: flex;
    /*padding-left: 0.5rem;*/
    /*padding-right: 0.5rem;*/
}
@media screen and (min-width: 700px) {
    .recipe-info-block {
        width: 70%;
    }
    .recipe-title {
        padding: 3rem 1rem;
    }
}
@media screen and (max-width: 700px) {
    .recipe-info-block {
        width: 100%;
    }
    .recipe-title {
        padding: 1.5rem 0 0.5rem 0;
    }
}
.recipe-info-block {
    line-height: 33px;
}
.recipe-method-block {
    width: 100%;
    line-height: 33px;

    /*padding-left: 0.5rem;*/
    /*padding-right: 0.5rem;*/
}

.recipe-title-section-name {
    padding-bottom: 0.7rem;
    font: 10px/1 Roboto,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;

    line-height: 1.2;
    text-align: center;
}
.recipe-title-section-name-link-block {
    text-align: center;
    margin-bottom: 20px;
}
.recipe-title-section-name-link {
    color: #fd9334;
}
.recipe-title-section-name-link:hover {
    color: #fd9334;
}
.dot-delimiter:before{
    content: "\B7";
    display: inline-block;

    font: 15px/9px Roboto,sans-serif;
    font-weight: 700;

    color: #fd9334;
    margin: 9px 3px 0 0;
    vertical-align: top;
}
@media (min-width: 30rem) {
    .recipe-title-header {
        font: 50px/50px Roboto,sans-serif;
    }
}
@media (max-width: 30rem) {
    .recipe-title-header {
        font: 40px/40px Roboto,sans-serif;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
.recipe-title-header {
    font-weight: 900;

    line-height: 1.2;
    text-align: center;
}
.recipe-main-image {
    display: flex;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.choose-photo {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    color: #b8b8b8;
    text-align: center;

    font: 30px/50px Roboto,sans-serif;
    font-weight: 900;

    transform: translate(-50%, -50%);
}

@media (min-width: 700px) {
    .recipe__author {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 700px) {
    .recipe__author {
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
    }
}

.recipe__author {
    /*display: flex;*/
    position: relative;
    height: 93px;

    padding: 24px 28px;
    border: 1px solid #b8b8b8;
}
.author-header {
    position: absolute;
    top: -4px;
    padding: 0 12px;

    font: 10px/1 PT Serif,Georgia,serif !important;
    text-transform: uppercase;
    font-weight: 700;

    letter-spacing: .1em;
    background: #fff;

    transform: translateX(-50%);
    left: 50% !important;
}
.author-name {
    width: 100%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    font: 14px/2 PT Serif,Georgia,serif;
    text-align: center;
    line-height: 1.6;
}
.recipe-meta {
    display: flex;
    justify-content: center;
    text-align: center;
}
.recipe-meta-wrap {
    display: flex;
    position: relative;
    padding-top: 0.25rem;
    padding-left: 1rem;
    margin-right: 1rem;

    font-weight: 700;
    font-size: 0.85rem;
    line-height: 1.25rem;
}
.meta-delimiter:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1rem;
    width: 1px;
    height: 2rem;
    background: #b8b8b8;
}
.recipe-meta-heading {
    line-height: 1.25rem;
    color: #676767;
    font-weight: 400;
    margin-bottom: 4px;
}
.recipe-description-text {
    text-align: justify;
}
@media (min-width: 700px) {
    .recipe-description-text,
    .recipe-ingredient-list-wrap,
    .recipe-method-wrap {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .recipe-ingredients__heading,
    .recipe-method__heading {
        padding-bottom: 2.7rem;
    }
    .recipe-similar-recipes__heading {
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }
    .recipe-similar-recipes-wrap {
        width: 66.6%;
        padding-top: 1.5rem;
        padding-bottom: 3.5rem;
    }
    .recipe-method__list-item-text {
        padding-bottom: 2rem;
    }
}
@media (max-width: 700px) {
    .recipe-description-text,
    .recipe-ingredient-list-wrap {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
    }
    .recipe-method-wrap {
        padding-top: 1.1rem;
        padding-bottom: 1rem;
    }
    .recipe-ingredients__heading,
    .recipe-method__heading {
        padding-bottom: 1.8rem;
    }
    .recipe-similar-recipes__heading {
        padding-top: 1.1rem;
        padding-bottom: 2rem;
    }
    .recipe-similar-recipes-wrap {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 0;
    }
    .recipe-method__list-item-text {
        padding-bottom: 1.5rem;
    }
}


.recipe-similar-recipes__heading {
    text-align: center;
}
.recipe-ingredients__list {
    list-style: none;
    line-height: 33px;
    padding-left: 0;
    margin-bottom: 0;
}
.ingredient_item_div {
    position: relative;
}
.ingredient_item_div::before {
    display: table;
    position: absolute;
    bottom: 12px;
    width: 100%;
    content: "";
    border-bottom: 1px solid #b8b8b8;
}
.ingredient_item_name {
    padding-right: 0.5rem;
}
.ingredient_item_amount {
    padding-left: 0.5rem;
}
.ingredient_item_name,
.ingredient_item_amount{
    background: white;
    z-index: 1;
}
.recipe-method__list {
    text-align: justify;
}
.recipe-button-block {
    display: flex;
    justify-content: space-between;
}
@media (min-width: 700px) {
    .recipe-admin-button-block {
        position: absolute;
    }
}
@media (max-width: 700px) {
    .recipe-admin-button-block {
        position: relative;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
.recipe-admin-button-block {
    width: 100%;
    display: flex;

    justify-content: space-between;
}

/* Recipe edit from */
.recipe-edit-from-title {
    padding-top: 3rem;
    /*color: #b8b8b8;*/
    border: none;
}
.recipe-edit-from-title-input {
    width: 100%;
    color: #3a3a3a;
    border: none;
    text-align: center;

    font: 50px/50px Roboto,sans-serif;
    font-weight: 900;
}
.recipe-edit-from-title-input:focus {
    outline: none;
}
.recipe-edit-from-image {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    width: 100%;
}
.recipe-edit-from-image > label {
    width: 75%;
}
.recipe-edit-from-image > input {
    display: none;
}


/* Section edit form */
.section-edit-from-image {
    display: flex;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    width: 100%;
}
.section-edit-from-image > label {
    width: 75%;

    border-radius: 20px;
}
.section-edit-from-image > input {
    display: none;
}
.section-image {
    background-size: cover;
    background-position: center;
}

/* Pager */
.page-link .selected {
    background-color: #fd9334 !important;
    border-color: #fd9334 !important;
}

/* Login form */
.login-form-block {
    width: 100%;
    display: flex;

    padding-top: 2rem;
    padding-bottom: 2rem;

    justify-content: center;
}
.login-form {
    width: 24rem;
    background-color: #f7f7f7;

    padding: 2.5rem;

    border-radius: 1px;
}
.login-from-submit-btn {
    width: 100%;
}

/* Dish  edit list */
.row_data:focus {
    outline: 1px solid #007bff;
}

/* Footer */
@media screen and (min-width: 1000px) {
    .footer {
        width: 1000px;
    }
}
@media screen and (max-width: 1000px) {
    .footer {
        width: 100%;
    }
}
.footer {
    position: relative;
    padding-top: 2.1rem;
    margin: 0 auto 0 auto;

    border-top: 1px solid #d9d9d9;
    height: 5rem;

    color: #3a3a3a;
    text-align: center;

    background-color: white;
}
.footer-text {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    opacity: 0.6;
    font: 13px/1 PT Serif,Georgia,serif;
    text-transform: uppercase;
}

/* Effects */
#searchBarSectionSelect {
    transition: .3s ease;
}

.zoom {
    transition: .3s ease;
    opacity: 1;
}

.zoom:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.overlay {
    transition: .3s ease;
    opacity: 1;
}

.overlay:hover {
    opacity: 0.8;
}
