<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="parts/common.html :: headerfiles"></head>
<body>
    <div th:replace="parts/navbar.html :: navbar"></div>
    <div class="container-fluid main-container">
        <h1 class="greeting-header mt-3">
            Типы блюд
        </h1>

        <div th:if="${dishExists}" class="alert alert-primary my-3" role="alert"
             th:text="${'Блюдо с таким именем уже существует'}">
        </div>

        <div class="d-flex" style="justify-content: right">
            <button type="button" class="add-dish-btn-link btn btn-outline-primary" data-toggle="modal" data-target="#addDishModal">Добавить тип блюда</button>
        </div>

        <form id="sectionForm" method="post" th:action="@{/dish/list}">
            <label>Выберите раздел</label>
            <div class="input-group mb-3">
                <select class="custom-select select-section" name="section">
                    <option th:each="section : ${sections}"
                            th:value="${{section.id}}"
                            th:text="${section.name}"
                            th:selected="${section == currentSection}">
                    </option>
                </select>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        </form>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Тип блюда</th>
                    <th class="text-center" scope="col">Описание</th>
                    <th class="text-center col-3" scope="col"></th>
                    <th class="text-center col-1" scope="col"></th>
                </tr>
            </thead>
            <tbody class="dish-table-body">
                <!-- Fills by js -->
            </tbody>
        </table>

        <div class="d-flex" style="justify-content: right">
            <button type="button" class="add-dish-btn-link btn btn-outline-primary" data-toggle="modal" data-target="#addDishModal">Добавить тип блюда</button>
        </div>

        <div th:replace="parts/dishUpdateModal.html :: dishUpdateModal"></div>

        <script>
            $(document).ready(function () {
                fullTable();
            });
            $(".select-section").on("change", function (event) {
                event.preventDefault();
                fullTable();

                var currentSectionValue = $(".select-section option:selected").val();
                $(".select-section-modal").val(currentSectionValue);
            });
            function fullTable() {
                var url = '/dish/json/section';

                var dataToBeSent = $("#sectionForm").serialize();

                $(".dish-table-body").empty();
                $.post(url, dataToBeSent, function(data, textStatus) {
                    $.each(data, function(i, value) {
                        $(".dish-table-body").append(
                            "<tr> " +
                                "<td class='text-center align-middle'>" + ++i + "</td>" +
                                "<td class='text-center align-middle' >" +
                                    "<div class='row_data'>" + value.name + "</div>" +
                                "</td>" +
                                "<td class='text-center align-middle' >" +
                                    "<div class='row_data'>" + value.titleDescription + "</div>" +
                                "</td>" +
                                "<td class='row_data text-center align-middle'>" +
                                    "<a class='edit-dish-btn-link' href='/dish/json/" + value.id + "'>" +
                                        "<button type='button' class='btn btn-outline-primary'>Редактировать</button>" +
                                    "</a>" +
                                "</td>" +
                                "<td class='row_data text-center align-middle'>" +
                                    "<a href='/dish/delete?id=" + value.id +  "'" +
                                        "onclick=\"return confirm('Вы действительно хотите удалить?');\">" +
                                        "<button type='button' class='btn btn-outline-danger'>Удалить</button>" +
                                    "</a>" +
                                "</td>" +
                            "</tr>");
                    });
                }, "json");
            };
        </script>
    </div>

    <div th:replace="parts/common.html :: footer"></div>
</body>
</html>
