<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head th:replace="parts/common.html :: headerfiles"></head>
    <body>
        <div th:replace="parts/navbar.html :: navbar"></div>
        <div class="container-fluid main-container">
            <div th:replace="parts/greeting.html :: greeting"></div>
            <div class="content-container">
                <div th:replace="parts/recipeList.html :: recipeList"></div>
            </div>
        </div>
        <div th:replace="parts/common.html :: footer"></div>
    </body>
</html>
