<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="navbar">
    <div class="site-header">
        <h1>Care Cooker</h1>
        <div class="section-overlay"></div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-lg static-top bg-light navbar-light border-bottom py-1">
            <a class="navbar-brand ml-3" href="#">Панель администратора</a>
            <div class="collapse navbar-collapse dual-collapse2">
                <ul class="navbar-nav">
                    <li class="nav-item ml-3">
                        <a class="nav-link font-weight-bold" href="/recipe/add">Добавить рецепт</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link font-weight-bold" href="/section/list">Редактировать разделы</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link font-weight-bold" href="/admin/list">Администраторы</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link font-weight-bold" href="/recipe/no-section-list">Рецепты без раздела</a>
                    </li>
                </ul>
            </div>

           <span class="mr-3" sec:authentication="name"></span>

            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <button class="btn btn-outline-secondary my-2 my-sm-0 mr-3" type="submit" value="Sign Out">Выйти</button>
            </form>
        </nav>
    </div>

    <nav class="navbar navbar-expand-lg static-top bg-light navbar-light border-bottom py-1">
        <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2 ml-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/">Разделы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/recipe/all">Все рецепты</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0 mr-3" method="post" action="/filter">
            <input class="form-control mr-sm-1" name="filter" type="search" placeholder="Поиск по сайту" aria-label="Search"
                   th:value="${filter}">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Найти</button>
        </form>
        <div sec:authorize="isAnonymous()" class="mr-3">
            <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/login">Администратор</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>