<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="navbar">
    <div class="navbar-screen">
        <div class="site-header">
            <a href="/">
                <h1>Care Cooker</h1>
            </a>
            <div class="section-overlay"></div>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <nav class="navbar navbar-expand-lg static-top navbar-light border-bottom bg-light py-1">
                <!--            <a class="navbar-brand ml-3" href="#">Панель администратора</a>-->
                <div class="collapse navbar-collapse dual-collapse2">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-3">
                            <a class="nav-link font-weight-bold" href="/recipe/to-publication">Неопубликованные</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link font-weight-bold" href="/recipe/incomplete">Неполные</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link font-weight-bold" href="/recipe/update">Добавить рецепт</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link font-weight-bold" href="/section/list">Ред. разделы</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link font-weight-bold" href="/dish/list">Ред. блюда</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link font-weight-bold" href="/admin/user-list">Пользователи</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <nav class="navbar navbar-light border-bottom bg-light">
            <ul class="navbar-nav">
                <li class="nav-item nav-item-need-margin-right">
                    <a class="nav-link font-weight-bold" href="/">Разделы</a>
                </li>
                <li class="nav-item nav-item-need-margin-right">
                    <a class="nav-link font-weight-bold" href="/recipe/all">Рецепты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/article/all">Статьи</a>
                </li>
                <li class="nav-item">
                    <form class="nav-total-search-form-screen nav-total-search-form form-inline" method="get" action="/recipe/search">
                        <input class="nav-total-search-form-input nav-total-search-form-input-screen form-control" name="filter" type="search" placeholder="Поиск по сайту" aria-label="Search">
                        <button class="nav-total-search-form-btn nav-total-search-form-btn-screen btn btn-light nav-search-btn" type="submit">Поиск</button>
                    </form>
                </li>
            </ul>

    <!--        <div sec:authorize="isAnonymous()" class="mr-3">-->
    <!--            <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2">-->
    <!--                <ul class="navbar-nav">-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link font-weight-bold" id="loginLink" href="/login">Войти</a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link font-weight-bold" href="/user/registration">Регистрация</a>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->

            <div sec:authorize="isAuthenticated()" class="mr-3">
                <div class="">
                    <ul class="navbar-nav">
                        <li class="nav-item mr-3 mt-2" sec:authentication="name"></li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="javascript: document.logoutForm.submit()">Выйти</a>

                            <form name="logoutForm" action="/logout" method="post" th:hidden="true">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                <input hidden type="submit" value="Logout"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="navbar-mobile">
        <nav class="navbar navbar-light border-bottom">
            <div class="navbar-brand-wrap">
                <a class="navbar-brand-mobile" href="/">CC</a>
            </div>
            <form class="nav-total-search-form-mobile nav-total-search-form" method="get" action="/recipe/search">
                <input class="nav-total-search-form-input nav-total-search-form-input-mobile" name="filter" type="search" placeholder="Поиск" aria-label="Search">
                <button class="nav-total-search-form-btn nav-total-search-form-btn-mobile btn btn-light nav-search-btn" type="submit"><i class="fa fa-search" style="color: white"></i></button>
            </form>

            <div class="show-menu-btn-wrap" id="toggleMobileMenuBtn">
                <i class="fa fa-bars" style="color: white" aria-hidden="true"></i>
            </div>
            <div class="menu-toggle-list-wrap">
                <div class="menu-toggle-list">
                    <div class="menu-toggle-list-block">
                        <a class="menu-toggle-list-link" href="/">Разделы</a>
                    </div>
                    <div class="menu-toggle-list-block">
                        <a class="menu-toggle-list-link" href="/recipe/all">Рецепты</a>
                    </div>
                    <div class="menu-toggle-list-block">
                        <a class="menu-toggle-list-link" href="/article/all">Статьи</a>
                    </div>
                </div>
            </div>
        </nav>

    </div>

    <script>
        $("#toggleMobileMenuBtn").on("click", function (event) {
            var menuToggleList = $(".menu-toggle-list");

            if(menuToggleList.css("top") !== "0px") {
                menuToggleList.css("top", "0");
            } else {
                menuToggleList.css("top", "-100%");
            }
        });
    </script>
</div>
</html>