<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="recipeList" class="main-list-block">
    <div id="recipe-card-block" class="row row-cols-1 row-cols-md-3 mt-3">
        <!-- Fills by js-->
    </div>
    <div class="alert alert-primary mt-3" role="alert" style="display: none">
        На данной странице нет рецептов
    </div>

    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-outline-secondary show-more" style="display: none">Показать еще</button>
        <div class="spinner-border spinner-show-more" role="status"></div>
    </div>

    <script>
        var pageNumber = 0;
        var showMoreBtn = $(".show-more");
        var spinner = $(".spinner-show-more");

        $(document).ready(function() {
            getPage()

            $(document).on("click", '.show-more', function(event) {
                event.preventDefault();

                getPage();
            });
        });

        function getPage() {
            var link = window.location.pathname + "?page=" + pageNumber;
            pageNumber++;

            $.get(link, function(page, status) {
                showMoreBtn.css("display", "none");
                spinner.css("display", "block");

                var totalPages = 0;

                if (!Array.isArray(page)) { // page будет являться массивом, только если элементы отсутствуют
                    totalPages = page.totalPages;
                    $.each(page.content, function(i, recipe) {
                        $("#recipe-card-block").append(
                            "<div>" +
                                "<a href='/recipe/" + recipe.id + "' style='text-decoration: none;'>" +
                                    "<div class='col'>" +
                                        "<div class='recipe-card overlay'>" +
                                            "<div class='recipe-card-image' style=\"background-image: url('/img/" + recipe.mainImage + "');\">" +
                                                "<div class='section-overlay'></div>" +
                                                "<h4 class='card-title'>" + recipe.name + "</h4>" +

                                                "<div class='recipe-card-meta align-self-end'>" +
                                                    "<div class='recipe-meta-wrap'>" +
                                                        "<div class='svg-white clock-white-svg meta-delimiter'></div>" +
                                                        "<div class='recipe-meta_prep-time' >" + recipe.cookTime.slice(0, 5) + "</div>" +
                                                    "</div>" +
                                                    "<div class='recipe-meta-wrap'>" +
                                                        "<div class='svg-white serving-white-svg meta-delimiter'></div>" +
                                                        "<div class='recipe-meta_serving'>" + recipe.serving + "</div>" +
                                                    "</div>" +
                                                    "<div class='recipe-meta-wrap'>" +
                                                        "<div class='recipe-meta_complexity'>" + recipe.complexity + "</div>" +
                                                    "</div>" +
                                                "</div>" +
                                            "</div>" +
                                        "</div>" +
                                    "</div>" +
                                "</a>" +
                            "</div>"
                        );
                    });
                }

                showMoreBtn.css("display", "block");
                spinner.css("display", "none");

                if (pageNumber === totalPages) {
                    $(".show-more").css("display", "none");
                }

                if (totalPages === 0) {
                    $(".alert").css("display", "block");
                    $(".show-more").css("display", "none");
                }
            });
        }
    </script>
</div>

</html>
