<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="recipeList" class="main-list-block">
    <div id="recipe-card-block" class="row row-cols-1 row-cols-md-3 mt-3">
        <!-- Fills by js-->
    </div>
    <div class="alert alert-primary mt-3" role="alert" style="display: none">
        На данной странице нет рецептов
    </div>

    <div style="display: none;" class="page-link" th:text="${url}"></div>
    <div style="display: none;" class="total-pages" th:text="${page.totalPages}"></div>

    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-outline-secondary show-more">Показать еще</button>
    </div>

    <script>
        var pageNumber = 0;
        var totalPages = parseInt($(".total-pages").text());

        console.log(pageNumber);
        console.log(totalPages);

        $(document).ready(function() {
            showMore()

            $(document).on("click", '.show-more', function(event) {
                event.preventDefault();

                showMore();
            });
        });

        function showMore() {
            var link = $(".page-link").text() + "/page/" + pageNumber;
            pageNumber++;

            var recipeOnPageNumber = 0;

            $.get(link, function(recipes, status) {
                $.each(recipes, function(i, recipe) {
                    recipeOnPageNumber = recipes.length;
                    $("#recipe-card-block").append(
                        "<div>" +
                        "<a href='/recipe/" + recipe.id + "' style='text-decoration: none;'>" +
                        "<div class='col'>" +
                        "<div class='recipe-card overlay'>" +
                        "<div class='recipe-card-image' style=\"background-image: url('/img/" + recipe.mainImage + "');\">" +
                        "<div class='section-overlay'></div>" +
                        "<h4 class='card-title'>" + recipe.name + "</h4>" +

                        "<div class='recipe-card-meta align-self-end'>" +
                        "<div class='recipe-meta-wrap'>" +
                        "<div class='svg-white clock-white-svg meta-delimiter'></div>" +
                        "<div class='recipe-meta_prep-time' >" + recipe.cookTime + "</div>" +
                        "</div>" +
                        "<div class='recipe-meta-wrap'>" +
                        "<div class='svg-white serving-white-svg meta-delimiter'></div>" +
                        "<div class='recipe-meta_serving'>" + recipe.serving + "</div>" +
                        "</div>" +
                        "<div class='recipe-meta-wrap'>" +
                        "<div class='recipe-meta_complexity'>" + recipe.complexity + "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</a>" +
                        "</div>"
                    );
                });
            });

            if (pageNumber === totalPages) {
                $(".show-more").css("display", "none");
            }

            if (recipeOnPageNumber === 0 && totalPages === 0) {
                $(".alert").css("display", "block");
                $(".show-more").css("display", "none");
            }
        }

    </script>
</div>

</html>
