<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div class="recipe-container" th:fragment="recipeInfo">

    <div class="recipe-info-wrap">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="recipe-admin-button-block">
                <div class="edit-and-publish-admin-buttons">
                    <a class="primary-btn btn btn-outline-primary" th:href="@{/recipe/update(id=${recipe.id})}" role="button">Редактировать</a>
                </div>

                <div class="unpublish-and-delete-admin-buttons">
                    <a class="remove-btn btn btn-outline-danger" th:href="@{/recipe/unpublish(id=${recipe.id})}" role="button"
                       onclick="return confirm('Вы действительно хотите снять рецепт с публикации?');">Снять с публикации</a>
                </div>
            </div>
        </div>

        <div class="recipe-title">
            <div class="recipe-title-section-name-link-block">
                <span class="recipe-title-section-name"
                     th:if="${recipe} and ${recipe.sections}"
                     th:each="section, iter : ${recipe.sections}">
                    <a th:class="${iter.index != 0} ? 'recipe-title-section-name-link dot-delimiter' : 'recipe-title-section-name-link'"
                       th:href="@{/recipe/section/} + ${section.id}"
                       th:text="${#strings.toUpperCase(section.name)}"></a></span>
                <span class="recipe-title-section-name"
                      th:if="${recipe} and ${recipe.dishes}"
                      th:each="dish, iter : ${recipe.dishes}">
                    <a class='recipe-title-section-name-link dot-delimiter'
                       th:href="@{/recipe/dish/} + ${dish.id}"
                       th:text="${#strings.toUpperCase(dish.name)}"></a></span>

            </div>
            <h1 class="recipe-title-header" th:text="${recipe.name}"></h1>
        </div>

        <div class="recipe-meta mt-3">
            <div class="recipe-meta-wrap meta-delimiter">
                <div class="svg clock-svg"></div>
                <div class="recipe-meta_prep-time" th:text="${recipe.cookTime}"></div>
            </div>
            <div class="recipe-meta-wrap meta-delimiter">
                <div class="svg serving-svg"></div>
                <div class="recipe-meta_serving" th:text="${recipe.serving}"></div>
            </div>
            <div class="recipe-meta-wrap">
                <div class="recipe-meta_complexity" th:text="${recipe.complexity}"></div>
            </div>
    <!--        <div class="d-flex" sec:authorize="isAuthenticated()">-->
    <!--            <div class="recipe-meta-wrap">-->
    <!--                <div class="svg like-svg"></div>-->
    <!--                <div class="recipe-meta_like">0</div>-->
    <!--            </div>-->
    <!--            <div class="recipe-meta-wrap">-->
    <!--                <div class="svg dislike-svg"></div>-->
    <!--                <div class="recipe-meta_dislike">0</div>-->
    <!--            </div>-->
    <!--        </div>-->
        </div>

        <div class="recipe-content mt-3">
            <div class="recipe-info-block">
                <div class="recipe-main-image" th:if="${recipe.mainImage}"
                     th:style="|background-image: url('${recipe.mainImage}');|">
                        <div style="padding-top: 75%;"></div>
                </div>
                <div class="recipe-main-image" th:unless="${recipe.mainImage}"></div>

                <div class="recipe__author">
                    <p class="author-header">Автор рецепта</p>
                    <div class="author-name" >
                        <span th:text="${recipe.author.username}">Автор рецепта</span>
                        <br>
                        <span id="span-author-recipes-number"></span>
                    </div>
                </div>

                <div class="recipe-description-text" th:text="${recipe.description}"></div>

                <div class="recipe-ingredient-list-wrap">
                    <div class="recipe-ingredients__heading">ИНГРЕДИЕНТЫ</div>
                    <ul class="recipe-ingredients__list" id="recipeIngredientsListId">
                        <!-- Fills by js -->
                    </ul>
                </div>
            </div>
        </div>
    <!--    th:utext="${ingredient}-->

        <div class="recipe-method-block">
            <div class="recipe-method-wrap border-bottom">
                <div class="recipe-method__heading">СПОСОБ ПРИГОТОВЛЕНИЯ</div>
                <div class="recipe-method__list">
                    <div class="recipe-method__list-item-text" th:each="step, iter : ${recipe.method}">
                        <span style="font-weight: bold;" th:text="${iter.index + 1} + @{.}"></span>
                        <span th:text="${step}"></span>
                    </div>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="mt-4 mb-5">
                    <div class="recipe-admin-button-block">
                        <div class="edit-and-publish-admin-buttons">
                            <a class="primary-btn btn btn-outline-primary" th:href="@{/recipe/update(id=${recipe.id})}" role="button">Редактировать</a>
                        </div>

                        <div class="unpublish-and-delete-admin-buttons">
                            <a class="remove-btn btn btn-outline-danger" th:href="@{/recipe/unpublish(id=${recipe.id})}" role="button"
                               onclick="return confirm('Вы действительно хотите снять рецепт с публикации?');">Снять с публикации</a>
                        </div>
                    </div>
                </div>

                <div class="recipe__source" th:if="${source}">
                    <a class="source" th:href="${source}">Источник</a>
                </div>
            </div>
        </div>
    </div>

    <div class="recipe-similar-recipes-wrap"
         th:if="${similarRecipes} and ${not #lists.isEmpty(similarRecipes)}">
        <div class="recipe-similar-recipes__heading">ПОХОЖИЕ РЕЦЕПТЫ</div>
        <div th:replace="parts/recipeSimilarList.html :: recipeSimilarList"></div>
    </div>
    <div class="recipe-similar-recipes-wrap"
         th:unless="${similarRecipes} and ${not #lists.isEmpty(similarRecipes)}">
        <div class="recipe-similar-recipes__heading">ПОХОЖИХ РЕЦЕПТОВ НЕ НАЙДЕНО</div>
        <div class="no-recipes-block no-recipes-block-saucepan_svg"></div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            /*<![CDATA[*/
            var authorRecipesNumber = /*[[${authorRecipesNumber} ? ${authorRecipesNumber} : '']]*/ 'default';
            var source = /*[[${source} ? ${source} : '']]*/ 'default';
            /*]]>*/
            if (authorRecipesNumber !== '') {
                var lastTwoDigits = authorRecipesNumber % 100;
                if (authorRecipesNumber === 0) {
                    $("#span-author-recipes-number").text(authorRecipesNumber + " рецептов");
                } else if (lastTwoDigits === 1) {
                    $("#span-author-recipes-number").text(authorRecipesNumber + " рецепт");
                } else if (lastTwoDigits >= 2 && lastTwoDigits <= 4) {
                    $("#span-author-recipes-number").text(authorRecipesNumber + " рецепта");
                } else {
                    $("#span-author-recipes-number").text(authorRecipesNumber + " рецептов");
                }
            } if (source !== '') {
                $(".recipe__author").css("display", "none");
            } else {
                $("#span-author-recipes-number").text("---");
            }

            var link = window.location.pathname;

            $.get(link, function(recipe, status) {
                if (recipe.description === "") {
                    $(".recipe-description-text").css("display", "none");
                }

                $.each(recipe.ingredientAmounts, function (i, ingredientAmount) {
                    var amount = parseFloat(ingredientAmount.amount.toFixed(3));
                    var amountLastTwoDigits = amount % 100;
                    var amountText;

                    if (amount === 0.5) {
                        amount = "1/2";
                    } else if (amount === 0.25) {
                        amount = "1/4";
                    } else if (amount === 0.75) {
                        amount = "3/4";
                    } else if (amount === 0.125) {
                        amount = "1/8";
                    }

                    if (ingredientAmount.units === "GRAM") {
                        amountText = amount + " г";
                    } else if (ingredientAmount.units === "MILLILITER") {
                        amountText = amount + " мл";
                    } else if (ingredientAmount.units === "PIECES") {
                        if (amountLastTwoDigits < 0) {
                            amountText = amount + " штуки";
                        } else if (amountLastTwoDigits === 1) {
                            amountText = amount + " штука";
                        } else if (amountLastTwoDigits >= 2 && amountLastTwoDigits <= 4) {
                            amountText = amount + " штуки";
                        } else {
                            amountText = amount + " штук";
                        }
                    } else if (ingredientAmount.units === "GLASS") {
                        if (amountLastTwoDigits < 0) {
                            amountText = amount + " стакана";
                        } else if (amountLastTwoDigits === 1) {
                            amountText = amount + " стакан";
                        } else if (amountLastTwoDigits >= 2 && amountLastTwoDigits <= 4) {
                            amountText = amount + " стакана";
                        } else {
                            amountText = amount + " стаканов";
                        }
                    } else if (ingredientAmount.units === "TABLESPOON") {
                        if (amountLastTwoDigits < 0) {
                            amountText = amount + " столовой ложки";
                        } else if (amountLastTwoDigits === 1) {
                            amountText = amount + " столовая ложка";
                        } else if (amountLastTwoDigits >= 2 && amountLastTwoDigits <= 4) {
                            amountText = amount + " столовых ложки";
                        } else {
                            amountText = amount + " столовых ложек";
                        }
                    } else if (ingredientAmount.units === "TEASPOON") {
                        if (amountLastTwoDigits < 0) {
                            amountText = amount + " чайной ложки";
                        } else if (amountLastTwoDigits === 1) {
                            amountText = amount + " чайная ложка";
                        } else if (amountLastTwoDigits >= 2 && amountLastTwoDigits <= 4) {
                            amountText = amount + " чайных ложки";
                        } else {
                            amountText = amount + " чайных ложек";
                        }
                    } else if (ingredientAmount.units === "BY_TASTE") {
                        amountText = "по вкусу";
                    } else if (ingredientAmount.units === "PINCH") {
                        amountText = "щепотка";
                    } else if (ingredientAmount.units === "PIECE") {
                        if (amountLastTwoDigits < 0) {
                            amountText = amount + " куска";
                        } else if (amountLastTwoDigits === 1) {
                            amountText = amount + " кусок";
                        } else if (amountLastTwoDigits >= 2 && amountLastTwoDigits <= 4) {
                            amountText = amount + " куска";
                        } else {
                            amountText = amount + " кусоков";
                        }
                    } else if (ingredientAmount.units === "JAR") {
                        if (amountLastTwoDigits < 0) {
                            amountText = amount + " банки";
                        } else if (amountLastTwoDigits === 1) {
                            amountText = amount + " банка";
                        } else if (amountLastTwoDigits >= 2 && amountLastTwoDigits <= 4) {
                            amountText = amount + " банки";
                        } else {
                            amountText = amount + " банок";
                        }
                    } else if (ingredientAmount.units === "KG") {
                        if (amountLastTwoDigits < 0) {
                            amountText = amount + " килограмма";
                        } else if (amountLastTwoDigits === 1) {
                            amountText = amount + " килограмм";
                        } else if (amountLastTwoDigits >= 2 && amountLastTwoDigits <= 4) {
                            amountText = amount + " килограмма";
                        } else {
                            amountText = amount + " киллограммов";
                        }
                    } else if (ingredientAmount.units === "LITER") {
                        if (amountLastTwoDigits < 0) {
                            amountText = amount + " литра";
                        } else if (amountLastTwoDigits === 1) {
                            amountText = amount + " литр";
                        } else if (amountLastTwoDigits >= 2 && amountLastTwoDigits <= 4) {
                            amountText = amount + " литра";
                        } else {
                            amountText = amount + " литров";
                        }
                    }

                    $("#recipeIngredientsListId").append(
                        "<li class='recipe-ingredients__list-item'>" +
                        "    <div class='ingredient_item_div' style='justify-content: space-between; display: flex'>" +
                        "       <span class='ingredient_item_name'>" + ingredientAmount.ingredient.name + "</span>" +
                        "       <span class='ingredient_item_amount'>" + amountText + "</span>" +
                        "    </div>" +
                        "</li>"
                    );
                })

                if (recipe.toPublication === false) {
                    $(".edit-and-publish-admin-buttons").append(
                        "<a href='/recipe/publish?id=" + recipe.id + "'>" +
                            "<button type='button' class='primary-btn btn btn-outline-primary'>Опубликовать</button>" +
                        "</a>"
                    );

                    var unpublishAndDeleteAdminButtons = $(".unpublish-and-delete-admin-buttons");
                    unpublishAndDeleteAdminButtons.empty();
                    unpublishAndDeleteAdminButtons.append(
                        "<a href='/recipe/delete?id=" + recipe.id + "' " +
                            "onclick='return confirm(\"Вы действительно хотите удалить рецепт?\");'>" +
                            "<button type='button' class='remove-btn btn btn-outline-danger'>Удалить</button>" +
                        "</a>"
                    );
                }
            });
        })
    </script>

</div>

</html>