<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div class="recipe-container" th:fragment="recipeInfo">
<!--    <span th:text="${recipe.author.username}"></span>-->
    <div class="recipe-title">
        <div class="recipe-title-section-name-link-block">
            <span class="recipe-title-section-name"
                 th:if="${recipe} and ${recipe.sections}"
                 th:each="section, iter : ${recipe.sections}">
                <a th:class="${iter.index != iter.size-1} ? 'recipe-title-section-name-link dot-delimiter' : 'recipe-title-section-name-link'"
                   th:href="@{/section/} + ${section.id}"
                   th:text="${#strings.toUpperCase(section.name)}"></a></span>
        </div>
        <h1 class="recipe-title-header" th:text="${recipe.name}"></h1>
    </div>

    <div class="recipe-meta mt-3">
        <div class="recipe-meta-wrap">
            <div class="svg clock-svg"></div>
            <div class="recipe-meta_prep-time" th:text="${recipe.cookTime}"></div>
        </div>
<!--<#&#45;&#45;        <span class="recipe-meta-wrap meta-delimiter">&ndash;&gt;-->
<!--<#&#45;&#45;            <div class="recipe-meta-heading">Сложность</div>&ndash;&gt;-->
<!--<#&#45;&#45;            <div class="recipe-meta_serving mt-1">${recipe.complexity}</div>&ndash;&gt;-->
<!--<#&#45;&#45;        </span>&ndash;&gt;-->
        <div class="recipe-meta-wrap">
            <div class="svg serving-svg"></div>
            <div class="recipe-meta_serving" th:text="${recipe.serving}"></div>
        </div>
<!--        <div class="recipe-meta-wrap">-->
<!--            <div class="svg like-svg"></div>-->
<!--            <div class="recipe-meta_like">0</div>-->
<!--        </div>-->
<!--        <div class="recipe-meta-wrap">-->
<!--            <div class="svg dislike-svg"></div>-->
<!--            <div class="recipe-meta_dislike">0</div>-->
<!--        </div>-->
    </div>

    <div class="recipe-content mt-3">
        <div class="recipe-info-block">
            <div class="recipe-main-image" th:if="${recipe.mainImage}"
                 th:style="|background-image: url('/img/${recipe.mainImage}');|">
                    <div style="padding-top: 75%;"></div>
            </div>
            <div class="recipe-main-image" th:unless="${recipe.mainImage}"></div>

            <div class="recipe-description-text" th:text="${recipe.description}"></div>

            <div class="recipe-ingredient-list-wrap">
                <div class="recipe-ingredients__heading">ИНГРЕДИЕНТЫ</div>
                <ul class="recipe-ingredients__list">
                    <li class="recipe-ingredients__list-item" th:each="ingredient : ${recipe.ingredients}" th:utext="${ingredient}"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="recipe-method-block">
        <div class="recipe-method-wrap border-bottom">
            <div class="recipe-method__heading">СПОСОБ ПРИГОТОВЛЕНИЯ</div>
            <div class="recipe-method__list">
                <div class="recipe-method__list-item-text" th:each="step, iter : ${recipe.methodSteps}">
                    <span style="font-weight: bold;" th:text="${iter.index + 1} + @{.}"></span>
                    <span th:text="${step}"></span>
                </div>
            </div>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')"
             class="mt-4">
            <div class="recipe-button-block">
                <a th:href="@{/recipe/edit(id=${recipe.id})}">
                    <button type="button" class="btn btn-primary">Редактировать</button>
                </a>

                <a th:href="@{/recipe/delete(id=${recipe.id})}"
                   onclick="return confirm('Вы действительно хотите удалить рецепт?');">
                    <button type="button" class="btn btn-danger">Удалить</button>
                </a>
            </div>
        </div>

        <div class="recipe-similar-recipes-wrap" th:if="${similarRecipes}">
            <div class="recipe-similar-recipes__heading">ПОХОЖИЕ РЕЦЕПТЫ</div>
            <div th:replace="parts/recipeSimilarList.html :: recipeSimilarList"></div>
        </div>
    </div>

</div>

</html>