<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<form method="post" enctype="multipart/form-data" th:fragment="recipeEditForm">

    <input type="hidden" name="id" th:value="${recipe} ? ${recipe.id} : ''" />

    <div class="recipe-edit-from-title">
        <textarea class="recipe-edit-from-title-input" name="name" placeholder="Введите название"
                  onfocus="this.placeholder = ''"
                  th:text="${recipe} ? ${recipe.name} : ''"></textarea>
    </div>

    <div class="form-group">
        <div class="recipe-edit-from-image">
            <label for="customFile">
                <div class="recipe-main-image" id="recipe-main-image"
                     th:if="${recipe} and ${recipe.mainImage}"
                     th:style="|background-image:url('${recipe.mainImage}');|">
                    <div style="padding-top: 52%;"></div>
                </div>
                <div class="recipe-main-image" id="recipe-main-image"
                     th:unless="${recipe} and ${recipe.mainImage}"
                     th:style="|background-image:url('../../static/img_placeholder.svg');|">
                    <div style="padding-top: 52%;"></div>
                    <div class="choose-photo">Нажмите для выбора фото</div>
                </div>
            </label>
            <input type="file" name="file" id="customFile" th:value="${recipe} and ${recipe.mainImage} ? ${recipe.mainImage} : ''"/>
        </div>

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#recipe-main-image').attr('style', "background-image: url(" + e.target.result) + ");";
                        $('.choose-photo').remove();
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#customFile").change(function(){
                readURL(this);
            });
        </script>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Время приготовления</label>
            <input type="time" class="form-control input" name="cookTime"
                   th:value="${recipe} ? ${recipe.cookTime} : ''">
        </div>
        <div class="form-group col-md-4">
            <label>Количество порций</label>
            <input type="number" class="form-control input" name="serving" placeholder="Количество порций"
                   min="0" max="100"
                   th:value="${recipe} ? ${recipe.serving} : ''">
        </div>
        <div class="form-group col-md-4">
            <label>Сложность</label>
            <select class="form-control custom-select select" name="complexity">
                <option value="легко" th:selected="${recipe} ? ${recipe.complexity == 'легко'}">Легко</option>
                <option value="средне" th:selected="${recipe} ? ${recipe.complexity == 'средне'}">Средне</option>
                <option value="сложно" th:selected="${recipe} ? ${recipe.complexity == 'сложно'}">Сложно</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Описание</label>
        <textarea class="form-control textarea" name="description" rows="7" placeholder="Описание"
                  th:text="${recipe} ? ${recipe.description} : ''"></textarea>
    </div>

    <div class="form-group" id="ingredientsBlockId">
        <label>Ингредиенты</label>
        <!-- Fills by js -->
    </div>
    <div class="d-flex" style="justify-content: right">
        <button class="button btn btn-outline-secondary mb-3" id="addIngredientBtnId" type="button">Добавить</button>
    </div>

    <div class="form-group" id="methodBlockId">
        <label>Способ приготовления</label>
        <!-- Fills by js -->
    </div>
    <div class="d-flex" style="justify-content: right">
        <button class="button btn btn-outline-secondary" id="addMethodBtnId" type="button">Добавить</button>
    </div>

    <div class="form-group" id="sectionDishBlockId">
        <label>Выберите раздел и тип блюда</label>
        <!-- Fills by js -->
    </div>
    <div class="d-flex" style="justify-content: right">
        <button class="button btn btn-outline-secondary" id="addSectionDishBtnId" type="button">Добавить</button>
    </div>

    <div class="form-group">
        <label>Источник</label>
        <input class="input w-100" name="source" placeholder="Введите ссылку на источник"
                  th:value="${recipe} and ${recipe.source} ? ${recipe.source} : ''"/>
    </div>

    <div class="form-check my-3">
        <input class="form-check-input" name="toPublication" type="checkbox" th:checked="${recipe} ? ${recipe.toPublication}" id="readyToPublication">
        <input name="toPublication" type="hidden" value="" />
        <label class="form-check-label" for="readyToPublication">
            Опубликован
        </label>
    </div>

    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

    <div class="pb-3">
        <button type="submit" class="primary-btn btn btn-outline-primary" th:text="${recipe} ? 'Обновить рецепт' : 'Сохранить рецепт'"></button>
    </div>


    <script th:inline="javascript">
        var sections;
        var dishes;

        $(document).ready(function () {
            fillSectionDishes();
            fillIngredients();
            fillMethod();
        });

        function fillSectionDishes() {
            var dishesLink = "/dish/json/dishes";
            $.get(dishesLink, function (dishList, status) {
                dishes = dishList;

                var sectionsLink = "/dish/json/sections";
                $.get(sectionsLink, function (sectionList, status) {
                    sections = sectionList;

                    /*<![CDATA[*/
                    var recipeSections = /*[[${recipe} and ${recipe.sections} ? ${recipe.sections} : '']]*/ 'default';
                    var recipeDishes = /*[[${recipe} and ${recipe.dishes} ? ${recipe.dishes} : '']]*/ 'default';
                    /*]]>*/

                    if (recipeSections !== '' && recipeSections.length > 0) {
                        var usedSectionIds = [];
                        if (recipeDishes !== '' && recipeDishes.length > 0) {
                            $.each(recipeDishes, function (i, recipeDish) {
                                usedSectionIds.push(recipeDish.section.id);
                                addSectionDish(recipeDish.section.id, recipeDish.id);
                            });
                        }

                        for (let i = 0; i < recipeSections.length; i++) {
                            if (!usedSectionIds.includes(recipeSections[i].id)) {
                                addSectionDish(recipeSections[i].id, "");
                            }
                        }
                    } else {
                        addSectionDish("", "");
                    }
                });
            });
        }
        var sectionDishId = 0;
        var sectionDishBlock = "" +
            "<div class=\"from-inline input-group mt-1\">" +
            "        <select id=\"${sectionSelectId}\" class=\"custom-select select\" name=\"sections\">\n" +
            "            <option value=\"0\">Любой раздел</option>\n" +
            "        </select>\n" +
            "        <select id=\"${selectDishId}\" class=\"custom-select select\" name=\"dishes\" disabled>\n" +
            "            <option value=\"0\">Любое блюдо</option>\n" +
            "        </select>" +
            "        <button class='remove-btn removeDivBtn btn btn-outline-danger' type='button'>-</button>" +
            "</div>";
        $("#addSectionDishBtnId").on("click", function (event) {
            event.preventDefault();

            addSectionDish("", "");
        });

        function addSectionDish(recipeSectionId, recipeDishId) {
            $("#sectionDishBlockId").append(sectionDishBlock
                .replace("${sectionSelectId}", "sectionSelectId" + sectionDishId)
                .replace("${selectDishId}", "selectDishId" + sectionDishId));

            var sectionSelect = $("#sectionSelectId" + sectionDishId);
            var dishSelect = $("#selectDishId" + sectionDishId);

            $.each(sections, function (i, section) {
                sectionSelect.append(
                    "<option value='" + section.id + "'>" + section.name + "</option>"
                );
            });

            if (recipeSectionId !== '') {
                sectionSelect.val(recipeSectionId);
            }

            fillDishes(dishSelect, sectionSelect, recipeDishId);

            sectionSelect.on("change", function (event) {
                event.preventDefault();

                fillDishes(dishSelect, sectionSelect, recipeDishId);
            });

            sectionDishId++;
        }

        function fillDishes(dishSelect, sectionSelect, recipeDishId) {
            var sectionId = parseInt(sectionSelect.val());

            var sectionDishes = [];
            if (sectionId !== 0) {
                $.each(dishes, function (i, dish) {
                    if (dish.section.id === sectionId) {
                        sectionDishes.push(dish);
                    }
                });
            }

            dishSelect.empty();
            dishSelect.append(
                "<option value='0'>Любое блюдо</option>"
            );

            if (sectionSelect.val() === "0") {
                dishSelect.prop("disabled", true);
                return;
            } else {
                dishSelect.prop("disabled", false);
            }

            $.each(sectionDishes, function (i, dish) {
                dishSelect.append(
                    "<option value='" + dish.id + "'>" + dish.name + "</option>"
                );
            });

            if (recipeDishId !== '') {
                dishSelect.val(recipeDishId);
            }
        }


        $("#addIngredientBtnId").on("click", function (event) {
            event.preventDefault();

            addIngredient("");
        });
        function fillIngredients() {
            /*<![CDATA[*/
            var ingredientAmounts = /*[[${recipe} and ${recipe.ingredientAmounts} ? ${recipe.ingredientAmounts} : '']]*/ 'default';
            /*]]>*/
            if (ingredientAmounts !== '' && ingredientAmounts.length > 0) {
                $.each(ingredientAmounts, function (i, ingredientAmount) {
                    addIngredient(ingredientAmount);
                });
            } else {
                for (let i = 0; i < 3; i++) {
                    addIngredient("");
                }
            }
        }
        var ingredientBlock = "<div class='form-inline input-group mt-1'>" +
        "    <input type='text' class='input form-control' name='ingredientName' value='${ingredientName}' placeholder='Название'>" +
        "    <input type='number' min='0' class='input form-control' name='ingredientAmount' value='${ingredientAmount}' placeholder='Количество'>" +
        "    <select class=\"form-control custom-select select\" name=\"ingredientUnits\">\n" +
        "        <option value=\"GRAM\" ${selectedGram}>гр.</option>\n" +
        "        <option value=\"MILLILITER\" ${selectedMilliliter}>мл.</option>\n" +
        "        <option value=\"PIECES\" ${selectedPieces}>шт.</option>\n" +
        "    </select>" +
        "    <button class='remove-btn removeDivBtn btn btn-outline-danger' type='button'>-</button>" +
        "</div>";
        function addIngredient(ingredientAmount) {
            if (ingredientAmount !== "") {
                var ingredientFormattedBlock = ingredientBlock
                    .replace("${ingredientName}", ingredientAmount.ingredient.name)
                    .replace("${ingredientAmount}", ingredientAmount.amount);
                if (ingredientAmount.units === 'GRAM') {
                    ingredientFormattedBlock = ingredientFormattedBlock.replace("${selectedGram}", "selected");
                }
                if (ingredientAmount.units === 'MILLILITER') {
                    ingredientFormattedBlock = ingredientFormattedBlock.replace("${selectedMilliliter}", "selected");
                }
                if (ingredientAmount.units === 'PIECES') {
                    ingredientFormattedBlock = ingredientFormattedBlock.replace("${selectedPieces}", "selected");
                }
                ingredientFormattedBlock = ingredientFormattedBlock
                    .replace("${selectedGram}", "")
                    .replace("${selectedMilliliter}", "")
                    .replace("${selectedPieces}", "");
                $("#ingredientsBlockId").append(ingredientFormattedBlock);
            } else {
                var ingredientFormattedBlock = ingredientBlock
                    .replace("${ingredientName}", "")
                    .replace("${ingredientAmount}", "")
                    .replace("${selectedGram}", "")
                    .replace("${selectedMilliliter}", "")
                    .replace("${selectedPieces}", "");
                $("#ingredientsBlockId").append(ingredientFormattedBlock);
            }
        }


        $("#addMethodBtnId").on("click", function (event) {
            event.preventDefault();

            addMethod("");
        });
        function fillMethod() {
            /*<![CDATA[*/
            var methodSteps = /*[[${recipe} and ${recipe.method} ? ${recipe.method} : '']]*/ 'default';
            /*]]>*/
            if (methodSteps !== '' && methodSteps.length > 0) {
                $.each(methodSteps, function (i, methodStep) {
                    addMethod(methodStep);
                });
            } else {
                addMethod("");
            }
        }
        var methodBlock = "<div class='form-inline input-group mt-1'>" +
        "    <textarea class='textarea form-control' name='method' rows='3' placeholder='Способ приготвления'>${methodStep}</textarea>" +
        "    <button class='remove-btn removeDivBtn btn btn-outline-danger' type='button'>-</button>" +
        "</div>";
        function addMethod(methodStep) {
            $("#methodBlockId").append(methodBlock.replace("${methodStep}", methodStep));
        }


        $(document).on('click', '.removeDivBtn', function(e) {
            e.preventDefault();
            $(this).closest('div').remove();
        });
    </script>
</form>

</html>