<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="recipeSimilarList" class="main-list-block">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="card-single" th:each="recipe : ${similarRecipes}">
            <a th:href="@{/recipe/} + ${recipe.id}" style="text-decoration: none;">
                <div class="col">
                    <div class="recipe-card overlay">
                        <div class="recipe-card-image" th:if="${recipe.mainImage}"
                             th:style="|background-image: url('${recipe.mainImage}');|">
                            <div class="section-overlay"></div>
                            <h4 class="card-title" th:text="${recipe.name}"></h4>
                            <div class="recipe-card-meta align-self-end">
                                <div class="recipe-meta-wrap">
                                    <div class="svg-white clock-white-svg meta-delimiter"></div>
                                    <div class="recipe-meta_prep-time" th:text="${recipe.cookTime}"></div>
                                </div>
                                <div class="recipe-meta-wrap">
                                    <div class="svg-white serving-white-svg meta-delimiter"></div>
                                    <div class="recipe-meta_serving" th:text="${recipe.serving}"></div>
                                </div>
                                <div class="recipe-meta-wrap">
                                    <div class="recipe-meta_complexity" th:text="${recipe.complexity}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="recipe-card-image" th:unless="${recipe.mainImage}"
                             th:style="|background-image: url('@{../../static/img_placeholder.svg}');|">
                            <div class="section-overlay"></div>
                            <h4 class="recipe-card-title" th:text="${recipe.name}"></h4>
                            <div class="recipe-card-meta align-self-end">
                                <div class="recipe-meta-wrap">
                                    <div class="svg-white clock-white-svg meta-delimiter"></div>
                                    <div class="recipe-meta_prep-time" th:text="${recipe.cookTime}"></div>
                                </div>
                                <div class="recipe-meta-wrap">
                                    <div class="svg-white serving-white-svg meta-delimiter"></div>
                                    <div class="recipe-meta_serving" th:text="${recipe.serving}"></div>
                                </div>
                                <div class="recipe-meta-wrap">
                                    <div class="recipe-meta_complexity" th:text="${recipe.complexity}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

</html>