<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div class="recipe-container" th:fragment="recipeInfo">
    <div class="recipe-title">
        <h1 class="recipe-title-header" th:text="${recipe.name}"></h1>
    </div>

    <div class="recipe-meta mt-3">
        <div class="recipe-meta-wrap meta-delimiter">
            <div class="svg clock-svg"></div>
            <div class="recipe-meta_prep-time" th:text="${recipe.cookTime}"></div>
        </div>
<!--<#&#45;&#45;        <span class="recipe-meta-wrap meta-delimiter">&ndash;&gt;-->
<!--<#&#45;&#45;            <div class="recipe-meta-heading">Сложность</div>&ndash;&gt;-->
<!--<#&#45;&#45;            <div class="recipe-meta_serving mt-1">${recipe.complexity}</div>&ndash;&gt;-->
<!--<#&#45;&#45;        </span>&ndash;&gt;-->
        <div class="recipe-meta-wrap">
            <div class="svg serving-svg"></div>
            <div class="recipe-meta_serving" th:text="${recipe.serving}"></div>
        </div>
    </div>

    <div class="recipe-content mt-3">
        <div class="recipe-info-block">
            <div class="recipe-main-image mt-3" th:if="${recipe.mainImage}"
                 th:style="|background-image: url('/img/${recipe.mainImage}');|">
                    <div style="padding-top: 52%;"></div>
            </div>
            <div class="recipe-main-image mb-5" th:unless="${recipe.mainImage}"></div>

            <div class="recipe-description-text my-4">
                <p th:text="${recipe.description}"></p>
            </div>

            <div class="recipe-ingredient-list-wrap my-4">
                <h3 class="recipe-ingredients__heading">Ингедиенты</h3>
                <ul class="recipe-ingredients__list mt-3">
                    <li class="recipe-ingredients__list-item" th:each="ingredient : ${recipe.ingredients}"></li>
                </ul>
            </div>
            <div class="recipe-method-wrap my-4">
                <h3 class="recipe-method__heading">Способ приготовления</h3>
                <div class="recipe-method__list my-4">
                    <div class="recipe-method__list-item-text my-5" th:each="step, iter : ${recipe.methodSteps}">
                        <span style="font-weight: bold;" th:text="${iter.index + 1} + @{.}"></span>
                        <span th:text="${step}"></span>
                    </div>
                </div>
            </div>
<!--            <div class="recipe-categories-wrap my-4 pb-3">-->
<!--                <h3 class="recipe-categories__heading">Категории</h3>-->
<!--                <#list recipe.categories as category>-->
<!--                    <form class="category-item rounded-lg my-1 mr-1" onclick="this.submit();" method="post" action="/category">-->
<!--                        <input type="hidden" name="category" class="form-control" value="${category.name}">-->
<!--                        <div>${category.name}</div>-->
<!--                    </form>-->
<!--                </#list>-->
<!--            </div>-->

            <div class="recipe-button-block">
                <a th:href="@{/recipe/edit?id=} + ${recipe.id}">
                    <button type="button" class="btn btn-primary mt-4">Редактировать рецепт</button>
                </a>

                <a th:href="@{/recipe/delete?id=} + ${recipe.id}"
                   onclick="return confirm('Вы действительно хотите удалить рецепт?');">
                    <button type="button" class="btn btn-danger mt-4">Удалить рецепт</button>
                </a>
            </div>
        </div>
    </div>

</div>

</html>