<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div class="login-form-block" th:fragment="registrationForm">
    <form method="post" class="login-form border" th:action="${url}">
        <div class="mb-5">
            <h4 th:if="${admin}">Регистрация админа</h4>
            <h4 th:unless="${admin}">Регистрация пользователя</h4>
        </div>

        <div class="form-group">
            <label>Логин</label>
            <input type="text" class="form-control" name="username"/>
        </div>

        <div class="form-group mb-5">
            <label>Пароль</label>
            <input type="password" class="form-control" name="password"/>
        </div>

        <div th:if="${userExists}" class="alert alert-primary mt-4" role="alert"
            th:text="${admin} ? 'Администратор с таким именем уже существует' : 'Пользователь с таким именем уже существует'">
        </div>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <div class="form-group">
            <button type="submit" class="login-from-submit-btn btn btn-primary">Готово</button>
        </div>
    </form>
</div>
</html>