<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="search-bar">
    <div class="search-bar border-bottom"
        id="searchBar">
        <div class="search-bar-form-wrap">
            <form id="search-bar-form" method="get">
                <div class="input-group">
                    <select class="search-bar-select custom-select" id="searchBarSectionSelect">
                        <option value="0">Любой раздел</option>
                        <!-- Fills by js -->
                    </select>
                    <select class="search-bar-select custom-select" id="searchBarDishSelect" disabled>
                        <option value="0">Любое блюдо</option>
                        <!-- Fills by js -->
                    </select>

<!--                    <button class="btn btn-light search-bar-btn search-bar-btn-wide" type="submit">Подобрать рецепты</button>-->
<!--                    <button class="btn btn-light search-bar-btn search-bar-btn-narrow" type="submit"><i class="fa fa-search"></i></button>-->
                </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function() {
            var sectionSelectValue = "/recipe/all";
            var dishSelectValue = "";
            var searchBarSectionSelect = $("#searchBarSectionSelect");
            var searchBarDishSelect = $("#searchBarDishSelect");

            /*<![CDATA[*/
            var dishId = /*[[${dish} ? ${dish.id} : '']]*/ 'default';
            /*]]>*/

            $.get("/section/all", function(sections, status) {
                $.each(sections, function(i, section) {
                    searchBarSectionSelect.append(
                        "<option value='" + section.id + "'>" + section.name + "</option>"
                    );
                });

                /*<![CDATA[*/
                var sectionId = /*[[${section} ? ${section.id} : '']]*/ 'default';
                if (sectionId !== '') {
                    searchBarSectionSelect.val(sectionId);
                    sectionSelectValue = "/recipe/section/" + sectionId;
                    searchBarDishSelect.prop("disabled", false);
                }
                /*]]>*/

                fillDishSelect();
            });

            searchBarSectionSelect.on("change", function (event) {
                dishId = "";
                var selectedSectionId = $("#searchBarSectionSelect option:selected").val();
                if (selectedSectionId === '0') {
                    sectionSelectValue = "/recipe/all";
                    searchBarDishSelect.prop("disabled", true);
                    searchBarDishSelect.val("0");
                } else {
                    sectionSelectValue = "/recipe/section/" + selectedSectionId;
                    searchBarDishSelect.prop("disabled", false);
                    fillDishSelect();
                }
                $("#search-bar-form").attr("action", sectionSelectValue);
                window.location.href = sectionSelectValue;
            });

            searchBarDishSelect.on("change", function (event) {
                var selectedDishId = $("#searchBarDishSelect option:selected").val();
                if (selectedDishId === '0') {
                    $("#search-bar-form").attr("action", sectionSelectValue);
                    window.location.href = sectionSelectValue;
                } else {
                    var dishHref = "/recipe/dish/" + selectedDishId;
                    $("#search-bar-form").attr("action", dishHref);
                    window.location.href = dishHref;
                }
            });

            function fillDishSelect() {
                var link = '/dish/json/section/' + searchBarSectionSelect.val();

                searchBarDishSelect.empty();
                searchBarDishSelect.append(
                    "<option value='0'>Любое блюдо</option>"
                );

                if (searchBarSectionSelect.val() === '0') {
                    return;
                }

                $.get(link, function(dishes, status) {
                    $.each(dishes, function(i, dish) {
                        searchBarDishSelect.append(
                            "<option value='" + dish.id + "'>" + dish.name + "</option>"
                        );
                    });

                    if (dishId !== "") {
                        searchBarDishSelect.val(dishId);
                    } else {
                        searchBarDishSelect.val('0');
                    }
                });
            }
        });
    </script>
</div>

</html>