<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="search-bar">
    <div class="search-bar border-bottom" >
        <div class="search-bar-form-wrap">
            <form id="search-bar-form" method="get">
                <div class="input-group">
                    <select class="search-bar-select custom-select" id="sectionSelect">
                        <option value="all">Любой раздел</option>
                        <!-- Fills by js -->
                    </select>
                    <select class="search-bar-select custom-select ml-4" id="inputGroupSelect2" disabled>
                        <option value="">Любое блюдо</option>
                        <!-- Fills by js -->
                    </select>
                    <div class="input-group-append ml-4">
                        <button class="btn btn-light search-bar-btn" type="submit">Подобрать рецепты</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function() {
            var link = "/section/all";

            $.get(link, function(sections, status) {
                $.each(sections, function(i, section) {
                    $("#sectionSelect").append(
                        "<option value='" + section.id + "'>" + section.name + "</option>"
                    );
                });

                /*<![CDATA[*/
                var sectionId = /*[[${section} ? ${section.id} : '']]*/ 'default';
                if (sectionId !== '') {
                    $("#sectionSelect").val(sectionId);
                }
                /*]]>*/
            });

            $("#sectionSelect").on("change", function (event) {
                var selectValue = $("#sectionSelect option:selected").val();
                if (selectValue === 'all') {
                    $("#search-bar-form").attr("action", "/recipe/all");
                    console.log("yeah")
                } else {
                    $("#search-bar-form").attr("action", "/recipe/section/" + selectValue);
                }
            });
        });
    </script>
</div>

</html>